@import 'variables';
@import 'functions';
@import 'mixins';

//Vendors
@import 'vendor/normalize';

//Partials
@import 'partials/fonts';
@import 'partials/js-mediaquery-detection';
@import 'partials/base';
@import 'partials/utility';
@import 'partials/lists';
@import 'partials/layouts';
@import 'partials/grid';
@import 'partials/buttons';
@import 'partials/header';
@import 'partials/logo';
@import 'partials/footer';
@import 'partials/misc';

//Clean up for print
/*@media only print { 
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  .header, .footer, .sidebar, img, form { display: none !important; }
  #container, .content, .content-main { width:100%; padding: 0; margin: 0; }
  a { text-decoration: underline; }
  pre, blockquote, tr, h2, h3 { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
}*/