* { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { min-height: 100%; background: $c-body; font-size: 100%; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

body { min-height: 100%; line-height: $baseLineHeight; font-family: $f-base; @include font-size($baseFontSize); color: $c-base;  }

img { display: block; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; -moz-user-drag: -moz-none; -webkit-user-drag: none; user-drag: none; }

a {

    &.h1, &.h2, &.h3, &.h4, &.h5, &.h6 { }
}

blockquote { }

:focus { outline: 0; }

p { line-height: $baseLineHeight; }
p + p { margin-top: $baseLineHeight; }
dl, ol, ul  { margin-bottom: $baseLineHeight; line-height: $baseLineHeight; }
ul, ol { margin: 0 0 $baseLineHeight 0; padding: 0 0 0 $baseLineHeight; list-style-type:none; display:inline-block; margin-left:0px; padding-left:0px;}
li {list-style-type:none;}
li ul, li ol { margin: 0; }

input, select, textarea { display: block; -webkit-appearance: none; }

label, .label { }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { display: block; font-weight: normal; }

h1, .h1 { 

	font-size: 1.6em;
	line-height:1.3;

	@include bp(baby-bear) {
	
		font-size: 1.7em;
		line-height:1.3;

	}

	@include bp(mama-bear) {

		font-size:2em;
		line-height:1.3;

	}

}
h2, .h2 { 
	
	font-family: "Volkhov", "Georgia", serif;
	font-size: 2em;
	font-weight: 500;
	margin-bottom: .3em;
	color:$c-primary;
	line-height:1.6;

}
h3, .h3 { 
	
	font-family: "Volkhov", "Georgia", serif;
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: .3em;
	color:$c-primary;

}
h4, .h4 { 

	font-style:italic;
	font-size:1em;

	@include bp(baby-bear) {
	
		font-size: 1em;

	}
}

h5, .h5 { 
	font-weight:900;
	font-size:1em;
	text-transform:uppercase;
}
h6, .h6 { }
p, .p { 
	font-size:1.2em;

}
a p{ color:#0decaf; }
a:visited p {color:#c0ffee;}
a:hover p {color:#fff; transition: .4s;}
a:active p {color:#0decaf; transition: .2s;}

a .white, a:visited .white {color:#fff; text-decoration:none;}
